<div class="lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 mt-4 flex flex-col items-center justify-center text-xl">
  <a routerLink="/" routerLinkActive="bg-green-600 p-2" class="text-white  px-4 py-2 hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Voir tâches</a>

  <a routerLink="/games" routerLinkActive="bg-green-600 p-2" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Games</a>
  <a routerLink="/login" routerLinkActive="bg-green-600 p-2" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Connexion</a>
  <a routerLink="/register" routerLinkActive="bg-green-600 p-2" class="text-white  px-4 py-2  hover:text-[#F59E0B] hover:border-b-2 hover:border-[#F59E0B] uppercase">Inscription</a>
  <div class="text-white bg-red-500 cursor-pointer p-3 rounded-md" (click)="logOut()" >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
    </svg>

  </div>
</div>
