<div class="pt-5" >
  <div class=" bg-indigo-300 mt-10 lg:flex flex-col lg:flex-row lg:space-x-4 lg:mt-0 flex flex-col items-center justify-center text-xl">
    <a routerLink="/games/gta" routerLinkActive="border-b-2 border-indigo-600"  class="text-white  px-4 py-2 hover:text-indigo-600 hover:border-b-2 hover:border-indigo-600 uppercase">GRAND THEFT AUTO V (GTA V)</a>

    <a routerLink="/games" routerLinkActive="border-b-2 border-indigo-600" class="text-white  px-4 py-2  hover:text-indigo-600 hover:border-b-2 hover:border-indigo-600 uppercase">CALL OF DUTY</a>
    <a routerLink="/games/fifa" routerLinkActive="border-b-2 border-indigo-600"  class="text-white  px-4 py-2  hover:text-indigo-600 hover:border-b-2 hover:border-indigo-600 uppercase">FIFA</a>
    <a routerLink="/games" routerLinkActive="border-b-2 border-indigo-600"  class="text-white  px-4 py-2  hover:text-indigo-600 hover:border-b-2 hover:border-indigo-600 uppercase">FORTNITE</a>
  </div>
</div>
<router-outlet
></router-outlet>
